@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --regular-14: Roboto;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;
  --regular-14-size: 14px;
  --medium-36-size: 36px;
  --bold-26-size: 26px;

  /* Colors */
  --color-whitesmoke: #f5f5f5;
  --color-black: #000;
  --colour-secondary-white-100-general: #fff;
  --colour-main-grey-700: #454e54;
  --color-lightgray: #cdd1d4;
  --colour-main-grey-400: #939ea4;
  --colour-main-blue-900: #091133;
  --colour-logo-primary: #37447e;
  --colour-main-blue-500: #505f98;

  /* Gaps */
  --gap-27xl: 46px;
  --gap-xl: 20px;
  --gap-11xl: 30px;
  --gap-646xl: 665px;
  --gap-41xl: 60px;
  --gap-26xl: 45px;
  --gap-144xl: 163px;

  /* Paddings */
  --padding-21xl: 40px;
  --padding-48xl: 67px;
  --padding-146xl: 165px;
  --padding-13xl: 32px;
  --padding-9xs: 4px;

  /* border radiuses */
  --br-xl: 20px;
}
